<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>APEUNI</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <form>
            <div class="form-group row mt-5">
                <label for="question_type" class="col-sm-2 col-form-label"><strong>Select question type:</strong>
                </label>
                <div class="col-sm-4">
                    <select class="form-control" id="question_type" ng-change="onQuesSel()"
                        ng-options="item as item.text for item in qustionList track by item.id" ng-model="selected">
                        <option value="">Please select question type...</option>
                    </select>
                </div>
                <div class="col-1">
                    <div class="spinner-border text-primary" role="status" data-loading>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="card mt-3">
            <div class="card-header text-center">
                <h5>{{selected.text}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="x in quesList">
                    {{!x.choices ? ($index+1 + '. '+ x.text): x.name}}
                    <b ng-repeat='y in x.choices'>{{y.truth +', '}} </b>
                </li>
                <!-- <li class="list-group-item" ng-repeat="x in quesList" ng-if="selected.quesType === 'cQuestionList'">
                    <div>
                        {{$index+1 + '. '+ x.keywords}}
                        <button type='button' class='btn btn-sm btn-outline-success ml-1'
                            ng-click='x.display=!x.display'>{{x.display ? 'Hide Answers': 'Show Answers'}}</button>
                    </div>
                    <div compile='x.qtext'></div>
                    <b ng-if="selected.quesTypeId ===24" ng-repeat='y in x.answers'>{{y.anstext +', '}} </b>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.6.0/base64.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script>
        var app = angular.module('myApp', ['ngSanitize']);
        app.controller('myCtrl', ['$scope', '$sce', 'appService', function ($scope, $sce, appService) {
            $scope.qustionList = [{
                id: 1,
                text: 'Repeat Sentence',
                quesTypeId: 1066,
                quesType: 'repeat_sentences'
            }, {
                id: 2,
                text: 'Answer Short Question',
                quesTypeId: 706,
                quesType: 'answer_questions'
            }, {
                id: 3,
                text: 'Write From Dictation',
                quesTypeId: 1490,
                quesType: 'wfds'
            }, {
                id: 4,
                text: 'Fill in the blanks',
                quesTypeId: 125,
                quesType: 'l_fib'
            }];
            // {
            //     id: 5,
            //     text: 'Reading-Fill in the blanks',
            //     quesTypeId: 24,
            //     quesType: 'cQuestionList'
            // }, {
            //     id: 6,
            //     text: 'Reading and writing-Fill in the blanks',
            //     quesTypeId: 25,
            //     quesType: 'cQuestionList'
            // }];
            $scope.quesList = [];
            $scope.quesInterval = null;
            $scope.onQuesSel = function () {
                $scope.quesList = [];
                $scope.quesInterval ? clearInterval($scope.quesInterval) : null;
                var i = 1;
                if ($scope.selected) {
                    $scope.quesInterval = setInterval(function () {
                        if (i > $scope.selected.quesTypeId) {
                            clearInterval($scope.quesInterval)
                            return true;
                        }

                        (function () {
                            appService.getQuesData($scope.selected, i++).then(function (res) {
                                t(res.data.data.item)
                            })
                        })(i)
                    }, 500);

                }

            };
            var decript = function i(e) {
                for (var t = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : o.b, n = {}, i = "", a = t.substring(0, 31).split(""), u = t.substring(31, 62).split(""), c = 0; c < 31; c++)
                    n[a[c]] = u[c],
                        n[u[c]] = a[c];
                e.split("").forEach(function (e) {
                    i += n[e] || e
                });
                var s = Base64.Base64.decode(i);
                jsn = JSON.parse(s);
                if (jsn.labels[0].label === "Exam Q" || (jsn.labels[1] && jsn.labels[1].label === "Exam Q") || (jsn.labels[2] && jsn.labels[2].label === "Exam Q")) {
                    $scope.quesList.push({
                        name: jsn.name,
                        choices: jsn.choices,
                        text: jsn.original_text
                    });
                    if ($scope.selected.quesType !== 'l_fib') {
                        $scope.quesList.sort(function (a, b) {
                            return (b.text.trim().length - a.text.trim().length);
                        });
                    }

                }

            }
            var a = function (e) {
                var t = arguments.length > 1 && void 0 !== arguments[1] ? arguments[1] : o.b;
                return "string" == typeof e ? decript(e, t) : e
            }

            var t = function (e) {
                return Object(a)(e, "ts3RqNgVd0cAMKUlSQOzh7oyZvPB96EXGbCLiwFWDm48ku2jefJT5YanIH1rpx")
            }


        }]);
        app.directive('compile', ['$compile', function ($compile) {
            return function (scope, element, attrs) {
                scope.$watch(
                    function (scope) {
                        return scope.$eval(attrs.compile);
                    },
                    function (value) {
                        value = value.replace(/style='display:none'/g, "ng-if='x.display'");
                        value = value.replace(/ranswer/g, 'bg-success text-warning p1');
                        element.html(value);
                        $compile(element.contents())(scope);
                    }
                )
            };
        }])
        app.directive('loading', ['$http', function ($http) {
            return {
                restrict: 'A',
                link: function (scope, elm, attrs) {
                    scope.isLoading = function () {
                        return $http.pendingRequests.length > 0;
                    };

                    scope.$watch(scope.isLoading, function (v) {
                        if (v) {
                            elm.show();
                        } else {
                            elm.hide();
                        }
                    });
                }
            };

        }]);
        app.service('appService', ['$http', function ($http) {
            this.getQuesData = function (selQuesType, num) {
                return $http({
                    async: false,
                    crossDomain: true,
                    method: 'GET',
                    url: "https://api.apeuni.com/api/v1/questions/single_num_v2?user_detail=alienvinoth%40gmail.com&token=sGX_yF7N9h8Z2mEf9DyAvmxdxrksCsdaD3PfDyxw&acc_type=email&client=ANxz4r22jQ&api_type=e1&locale=en&device_type=web-1.0.0-Chrome-Chrome+87.0.4280.88+on+OS+X+11.1.0+64-bit&device_id=3-2078184d-5fbc-4c0d-b0b9-06fffe8a9419&first_visit_time=1608454624&logged_in=true&data_version=2&filter=%5B%5D&tag=exam_q&order_method=updated_at&req_type=current&model=" + selQuesType.quesType + "&num=" + num,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    }
                });
            }

        }]);
    </script>
</body>

</html>