<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>REALPTE</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <form>
            <div class="form-group row mt-5">
                <label for="question_type" class="col-sm-2 col-form-label"><strong>Select question type:</strong>
                </label>
                <div class="col-sm-4">
                    <select class="form-control" id="question_type" ng-change="onQuesSel()"
                        ng-options="item as item.text for item in qustionList track by item.id" ng-model="selected">
                        <option value="">Please select question type...</option>
                    </select>
                </div>
                <div class="col-1">
                    <div class="spinner-border text-primary" role="status" data-loading>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="card mt-3">
            <div class="card-header text-center">
                <h5>{{selected.text}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="x in quesList" ng-if="selected.quesType !== 'cQuestionList'">
                    {{$index+1 + '. '+ x.keywords}}
                    <b ng-if='selected.quesTypeId === 35'>{{x.answers[0].anstext}}</b>
                    <b ng-if='selected.quesTypeId === 13' ng-repeat='y in x.answers'>{{y.anstext +', '}} </b>
                </li>
                <li class="list-group-item" ng-repeat="x in quesList" ng-if="selected.quesType === 'cQuestionList'">
                    <div>
                        {{$index+1 + '. '+ x.keywords}}
                        <button type='button' class='btn btn-sm btn-outline-success ml-1'
                            ng-click='x.display=!x.display'>{{x.display ? 'Hide Answers': 'Show Answers'}}</button>
                    </div>
                    <div compile='x.qtext'></div>
                    <b ng-if="selected.quesTypeId ===24" ng-repeat='y in x.answers'>{{y.anstext +', '}} </b>
                </li>
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script>
        var app = angular.module('myApp', ['ngSanitize']);
        app.controller('myCtrl', ['$scope', '$sce', 'appService', function ($scope, $sce, appService) {
            $scope.qustionList = [{
                id: 1,
                text: 'Repeat Sentence',
                quesTypeId: 32,
                quesType: 'getQTypeList'
            }, {
                id: 2,
                text: 'Answer Short Question',
                quesTypeId: 35,
                quesType: 'getQTypeList'
            }, {
                id: 3,
                text: 'Write From Dictation',
                quesTypeId: 18,
                quesType: 'getQTypeList'
            }, {
                id: 4,
                text: 'Fill in the blanks',
                quesTypeId: 13,
                quesType: 'getQTypeList'
            }, {
                id: 5,
                text: 'Reading-Fill in the blanks',
                quesTypeId: 24,
                quesType: 'cQuestionList'
            }, {
                id: 6,
                text: 'Reading and writing-Fill in the blanks',
                quesTypeId: 25,
                quesType: 'cQuestionList'
            }];
            $scope.onQuesSel = function () {
                $scope.quesList = null;
                if ($scope.selected) {
                    appService.getQuesData($scope.selected).then(function (res) {
                        if ($scope.selected.quesType !== 'cQuestionList') {
                            $scope.quesList = res.data.data.sort(function (a, b) {
                                return (b.keywords.trim().length - a.keywords.trim().length);
                            });
                        } else {
                            $scope.quesList = res.data.data;
                        }
                    })
                }

            };

        }]);
        app.directive('compile', ['$compile', function ($compile) {
            return function (scope, element, attrs) {
                scope.$watch(
                    function (scope) {
                        return scope.$eval(attrs.compile);
                    },
                    function (value) {
                        value = value.replace(/style='display:none'/g, "ng-if='x.display'");
                        value = value.replace(/ranswer/g, 'bg-success text-warning p1');
                        element.html(value);
                        $compile(element.contents())(scope);
                    }
                )
            };
        }])
        app.directive('loading', ['$http', function ($http) {
            return {
                restrict: 'A',
                link: function (scope, elm, attrs) {
                    scope.isLoading = function () {
                        return $http.pendingRequests.length > 0;
                    };

                    scope.$watch(scope.isLoading, function (v) {
                        if (v) {
                            elm.show();
                        } else {
                            elm.hide();
                        }
                    });
                }
            };

        }]);
        app.service('appService', ['$http', function ($http) {
            this.getQuesData = function (selQuesType) {
                return $http({
                    async: true,
                    crossDomain: true,
                    method: 'POST',
                    url: "https://realpte.com/api/question/questionRes.php?handle=" + selQuesType.quesType,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        "authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRhIjp7InVzZXJpZCI6NzAxODYsInVzZXJuYW1lIjoiTGF4bWk1MzAiLCJ0cnVlbmFtZSI6IkxheG1pIiwidXNlcl9lbWFpbCI6ImxheG1pbnM1MzBAZ21haWwuY29tIiwicm9sZV9pZHMiOiIzLDciLCJhdmF0YXIiOiJcL2ltYWdlc1wvYm95YXZhdGFyLnBuZyIsImFjdGl2ZSI6MSwidmlwX2V4cGlyZSI6bnVsbCwibWFya19ub3RlcyI6MCwic2Vzc2lvbmlkIjoiazVpcjN1azA4bmpiaXA5cmZ1bWJtc2d2ZHAifX0.5TNxK2NQWkmEBRz-opx-8SRguCKGz29ShNeNNoz2QYU",
                    },
                    transformRequest: function (obj) {
                        var str = [];
                        for (var p in obj)
                            str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                        return str.join("&");
                    },
                    data: {
                        "always": 0,
                        "currentPage": 1,
                        "imageType": 0,
                        "noanswer": -1,
                        "pageSize": 3000,
                        "qcate": 2,
                        "qincomp": -1,
                        "sort": 0,
                        "type": selQuesType.quesTypeId
                    }
                });
            }

        }]);
    </script>
</body>

</html>